[include]
  path = ~/Documents/tippy3/dotfiles/private/.gitconfig
[core]
  excludesfile = ~/.gitignore_global
[color]
  ui = true
[pager]
  diff =
[push]
  default = current
[pull]
  default = current
  rebase = false # this is default
[gpg]
  program = gpg
[commit]
  gpgsign = true
[tag]
  gpgsign = true
[alias]
  br = branch
  ch = checkout
  co = commit
  pl = pull
  ps = push
  sw = switch
  st = status -s
  fp = fetch --prune
  dif = diff --color-words
  his = log --oneline
  graph = log --oneline --graph --decorate
